.user-select-area {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.user-select-food-info {
  padding: 8px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f3ff;
  color: #6d28d9;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  flex-direction: column;
}

.user-select-food-info-data {
  width: 100%;
  padding: 8px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f3ff;
  color: #6d28d9;
}

.user-select-food-name {
  width: 10em;
  display: flex;
  gap: 6px;
  justify-content: center;
  flex-direction: column;
  padding: 0 4px;
}

.user-select-food-name span {
  font-size: 10px;
}

.user-select-kcal-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-select-kcal-area span {
  font-size: 12px;
}
