main {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 50px;

  overflow: hidden;
}

main h3 {
  margin-bottom: 10px;
}

.input-form {
  width: 40rem;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #fff;
  border-radius: 30px;
}

.input-form:has(#darkmode-toggle:checked) {
  border: 1px solid #333333;
}

.basic-info-area {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.intermediate-input-area {
  padding: 0 15px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}
