.search-input-area {
  width: 100%;
  box-sizing: border-box;
}

.search-input-wrap {
  display: flex;
  flex-direction: column;
  position: relative;
}

.search-input-area span {
  color: #333;
  margin-bottom: 5px;
}

.search-input-area input {
  border-radius: 30px;
  padding: 9px;
  border: 2px solid #c8c8c8;
  transition: all 0.3s;
}

.search-input-area input:focus {
  border: 2px solid #6d28d9;
  outline: none;
}

.search-btn {
  position: absolute;
  top: 34px;
  right: 10px;
  cursor: pointer;
}
