.age {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 5px;
}

.age span {
  color: #333;
  margin-left: -20px;
}

.age-input-area input {
  width: 55px;
  border-radius: 30px;
  text-align: right;
  padding: 9px;
  border: 1px solid #c8c8c8;
}

.age-input-area input:focus {
  outline: 2px solid #5c0095;
}

.age-input-area span {
  margin-left: 5px;
}
