.search-result-area {
  background-color: #f5f3ff;
  padding: 0px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow: hidden;
  max-height: 0px;
  opacity: 0;
  transition: max-height 0.3s ease, padding 0.3s ease, opacity 0.2s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: absolute;
  top: 4.5em;
  left: 1em;
  width: 90%;
}

.food-card {
  padding: 12px;
  display: flex;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  align-items: center;
  justify-content: center;
}

.food-card:hover {
  background-color: #6d28d9;
  color: #fff;
}

.open {
  padding: 12px;
  max-height: 500px;
  opacity: 1;
}

.kcal-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.kcal-area span {
  font-size: 14px;
}

.enter-arrow {
  padding-top: 4px;
}
