.search-result-area > [data-radix-roving-focus-group-root] {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.search-result-area {
  background-color: #f5f3ff;
  padding: 0px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 0px;
  opacity: 0;
  transition: max-height 0.3s ease, padding 0.3s ease, opacity 0.2s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: absolute;
  top: 4.5em;
  left: 1em;
  width: 95%;
  box-sizing: border-box;
  overflow-x: auto;
}

.search-result-area::-webkit-scrollbar {
  width: 5px;
}

.search-result-area::-webkit-scrollbar-track {
  background-color: #f5f3ff;
}

.search-result-area::-webkit-scrollbar-thumb {
  background-color: #f5f3ff;
  border-radius: 10px;
}

.food-card {
  padding: 12px;
  display: flex;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

/* Hover 스타일 */
.food-card:hover {
  background-color: #6d28d9;
  color: #fff;
}

/* Keyboard 포커스 스타일 (hover와 동일하게 맞춤!) */
.food-card:focus,
.food-card:focus-visible {
  background-color: #6d28d9;
  color: #fff;
  outline: none;
}

.food-card:hover span,
.food-card:focus-visible span {
  color: #fff;
}

.open {
  padding: 12px;
  max-height: 400px;
  opacity: 1;
}

.kcal-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.kcal-area span {
  font-size: 14px;
}

.enter-arrow {
  padding-top: 4px;
}
