.food-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 5px;
}

.food-type-input-area {
  position: relative;
  display: flex;
  flex-direction: row;
  border: 1px solid #c8c8c8;
  border-radius: 20px;
  justify-content: space-between;
}

.food-type span {
  color: #333;
}

.food-type-input-area label {
  width: 55px;
  height: 35px;
  display: flex;
  cursor: pointer;
  text-align: center;
  border-radius: 20px;
  color: #333;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: color 0.5s ease-in-out;
  font-size: 14px;
}

.food-type-input-area label:has(input:checked) {
  background-color: transparent;
  color: #fff;
}

.food-type-input-area input[type="radio"] {
  display: none;
}

.food-type-input-area input[type="radio"]:checked + label {
  background: #ddd;
  color: #000;
}

.foodtype-background-toggle.wet {
  width: 56px;
  height: 37px;
  position: absolute;
  top: -1px;
  left: -1px;
  border-radius: 20px 0 0 20px;
  background: #6d28d9;
  transition: left 0.5s ease-in-out, border-radius 0.5s ease-in-out;
  animation: borderAnimation 0.5s ease-in-out reverse;
}

.foodtype-background-toggle.mix {
  width: 56px;
  height: 37px;
  background: #6d28d9;
  position: absolute;

  transition: left 0.5s ease-in-out, border-radius 0.5s ease-in-out;
  border-radius: 0px 20px 20px 0px;
  top: -1px;
  left: 111px;
  animation: borderAnimation 0.3s ease-in-out;
}

@keyframes borderAnimation {
  0% {
    border-radius: 20px 0 0 20px;
  }
  50% {
    border-radius: 37.5px;
  }
  100% {
    border-radius: 0 20px 20px 0;
  }
}

.foodtype-background-toggle.dry {
  width: 56px;
  height: 37px;
  border-radius: 0 0 0 0;
  position: absolute;
  top: -1px;
  left: 55px;
  background: #6d28d9;
  transition: left 0.5s ease-in-out, border-radius 0.5s ease-in-out;
  animation: borderAnimation 0.3s ease-in-out;
}
