@font-face {
  font-family: "memoment";
  src: url("./assets/font/memomentKkukkkuk.ttf");
}

* {
  padding: 0px;
  margin: 0px;
}
.app {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  font-family: "memoment", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  box-sizing: border-box;
}

input {
  font-family: "memoment", sans-serif;
}
